.jumbotron {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    position: relative;
    border-radius: 20px;
    z-index: 1;
    height: auto;
    width: 80%;
    margin: auto;
}

.keterangan {
    min-width: 22%;
    max-width: 30%;
}

.kekuatan {
    width: 75%;
}