.jumbotron {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    position: relative;
    border-radius: 20px;
    z-index: 1;
    height: auto;
    width: 80%;
    margin: auto;
}

.keterangan {
    min-width: 22%;
    max-width: 30%;
}

.kekuatan {
    width: 75%;
}

@media screen and (max-width: 576px) {
    .tampil-kodam :nth-child(1) {
        flex-direction: column;
    }

    .tampil-kodam :nth-child(2) {
        flex-direction: column;
    }

    .keterangan {
        min-width: 100%;
        max-width: 100%;
    }

    .kekuatan {
        width: 100%;
    }
}